:root {
    --containerheight: calc(100vh - 100px);
}

html {
    font-family: 'BlinkMacSystemFont', 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;
    font-size: 14px;
}

@font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Source Code Pro'), local('SourceCodePro'), url(fonts/SourceCodePro-Regular.ttf) format('truetype');
}

#containermenu {
    width: 22%;
    margin: 2% 0% 2% 2%;
    height: 400px;
    float: left;
    background-color: #eee;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 7px;
    touch-action: none;
}

#container {
    width: 72%;
    margin: 2% 2% 2% 1%;
    height: 400px;
    float: right;
    background-color: #333;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 7px;
    touch-action: none;
}

.ui.green.button.div-canvas-sim {
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    /* background-color: rgb(255, 167, 147); */
    /* border: 10px solid rgba(136, 136, 136, .5); */
    border: 5px solid #72a66c;
    border-radius: 5%;
    /* border-radius: 10%!important; */
    /* color: white; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    margin: 0px;
    touch-action: none;
    user-select: none;
    word-wrap: break-all;
    position: relative;
    /* overflow-y: hidden; */
}

.div-canvas-sim {
    box-sizing: border-box!important;
    width: 100px;
    height: 100px;
    background-color: rgb(255, 167, 147);
    border: 10px solid rgba(136, 136, 136, .5);
    border-radius: 10%!important;
    color: white;
    padding: 0!important;
    touch-action: none;
    user-select: none;
    word-wrap: break-all;
}

/* .div-canvas-sim:hover {
    cursor: pointer;
    background-color: rgb(245, 230, 99);
} */

.ui.blue.button.div-canvas-server {
    box-sizing: content-box;
    width: calc(80px - 22px);
    height: 160px;
    /* background-color: rgb(62, 118, 209); */
    /* color: white; */
    /* border: 10px solid rgba(10, 160, 160, .5); */
    /* border-radius: 6%; */
    touch-action: none;
    user-select: none;
    word-wrap: break-all;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 8px 8px 0px 8px; */
}

/* .div-canvas-server:active {
    background-color: rgba(168, 218, 220, 1.00);
}

.div-canvas-server:hover {
    cursor: pointer;
    background-color: rgb(37, 75, 137);
} */

.ui.blue.button.div-canvas-message {
    box-sizing: content-box;
    width: calc(4000px);
    height: 20px;
    /* padding: 0; */
    padding: 6px 0px 6px 8px;
    /* background-color: rgb(80, 250, 250); */
    /* border: 6px solid rgba(136, 136, 136, .5); */
    border-radius: 0%;
    touch-action: none;
    text-align: left;
    user-select: none;
    word-wrap: break-all;
    display: flex;
    align-items: center;
}

/* .div-canvas-message:active {
    background-color: rgba(168, 218, 220, 1.00);
}

.div-canvas-message:hover {
    cursor: pointer;
    background-color: rgb(245, 230, 99);
} */

.div-canvas-pub, .div-canvas-sub {
    width: 48px;
    height: 10px;
    background-color: #db2828;
}

.div-canvas-pub {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.div-canvas-sub {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.div-canvas-pub:hover, .div-canvas-sub:hover {
    cursor: pointer;
    background-color: #a10000;
}

/* .div-canvas-sub {
    width: 48px;
    height: 10px;
    background-color: rgb(200, 200, 153);
} */

/* .div-canvas-sub:hover {
    cursor: pointer;
    background-color: rgb(245, 230, 99);
} */

.splitter {
    width: 100%;
    display: flex;
}

.separator {
    cursor: col-resize;
    background: url(../srti_modules/images/icon_resizegrip.png) center center no-repeat #e1e2e3;
    width: 10px;
    height: calc(var(--containerheight) - 2px);
    min-width: 10px;
}

#panelcontainer {
    width: 100%;
    height: 500px;
    background-color: #eef;
    border: 1px solid black;
}

#objectpanel {
    /* background-color: #eee; */
    width: 20%;
    height: calc(var(--containerheight) - 2px);
    overflow-y: hidden;
    min-width: 100px;
    margin-bottom: 0px;
    /* border: 1px solid black; */
}

.objectsubpanel {
    /* background-color: #ddd; */
    width: calc(100% - 1px);
    height: 47%;
    /* border: 1px solid black; */
}

#btn-newobject {
    width: 100%;
    height: 6%;
    padding: 6px;
    text-align: left;
    /* background: center center no-repeat #eee;
    background-size: 75% 75%; */
    cursor: pointer;
}

.btn-list-item {
    width: 100%;
    height: 16%;
    padding: 6px;
    /* background: center center no-repeat #eee; */
    cursor: pointer;
    overflow: hidden;
}

.div-list-item {
    /* width: calc(100% - 2px - 2% - 4%); */
    /* height: 36px; */
    /* padding: 6px; */
    /* background: center center no-repeat #eee; */
    overflow: hidden;
    /* border: 1px solid black; */
}

.div-list-item.compact {
    padding: 6px;
}

#canvaspanel {
    /* background-color: #333; */
    width: 60%;
    height: calc(var(--containerheight) - 2px);
    min-width: 200px;
    display: flex;
    flex-flow: column;
    /* border: 1px solid black; */
}

#canvastabpanel {
    /* background-color: #ddd; */
    width: 100%;
    /* height: 3%; */
}

#canvassubpanel1 {
    /* background-color: #333; */
    width: calc(100% - 1px);
    height: calc(67% - 2px);
    /* border: 1px solid black; */
    padding: 0px;
}

#canvassubpanel2 {
    /* background-color: #333; */
    width: calc(100% - 1px);
    /* height: calc(30% - 2px); */
    /* border: 1px solid black; */
    flex-grow: 1;
    padding: 0px;
}

.btn-canvastab {
    /* width: 5%; */
    /* height: 100%; */
    /* background-color: #eee; */
    cursor: pointer;
    /* float: left; */
    /* border: none; */
    /* border-right: 1px solid black; */
    /* padding: 0px 0px 0px 0px; */
}

#inspectorpanel {
    /* background-color: #eee; */
    width: 20%;
    height: calc(var(--containerheight) - 2px);
    min-width: 100px;
    margin: 0;
    /* border: 1px solid black; */
}

#executepanel {
    /* background-color: #ddd; */
    width: 100%;
    height: 40px;
    margin: 8px 0% 8px 0%;
    /* border: 1px solid black; */
}

.ui.icon.buttons .button {
    padding: 0;
    width: 40px;
    height: 40px;
}

.ui.icon.buttons .button:enabled {
    cursor: pointer;
}

#greyoverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #002;
    opacity: 0.5;
    display: none;
}

.modal {
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    /* height: 300px;
    width: 400px;
    padding: 8px 8px 8px 8px; */
    background-color: white;
    display: none;
}

.ui.modal {
    width: 600px;
}

.ui.modal>.actions {
    padding: 1em;
}

.ui.segment .ui.form .fields {
    margin: 0;
}

.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 2px 4px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    padding: 2px 2px;
    min-width: 120px;
    background-color: #d1d1d1;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 2px 2px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #bbb
}

.show {
    display: block;
}

/* Code */

code, kbd {
    font-family: 'Source Code Pro', monospace;
    border-radius: 4px;
    padding: 1px 4px;
    white-space: nowrap;
    color: hsl(0, 0%, 36%);
    background-color: hsla(0, 0%, 60%, .15);
}

pre, kbd {
    font-size: 13px;
    overflow: auto;
    padding: 1em;
    margin: 0;
    border-radius: 4px;
    border: 1px solid;
    border-color: var(--color-border);
    background-color: white;
}

pre code {
    white-space: pre;
}

pre>.hljs {
    color: var(--color-subtle);
    background-color: white;
}

kbd {
    padding: 0.5em;
}

/* colors */

.ui.warning {
    color: #573a08;
}

.ui.color-simulator {
    background-color: #447740;
    border-color: #447740;
    color: #FFFFFF;
}

.ui.color-message {
    background-color: #3c64c3;
    border-color: #3c64c3;
    color: #FFFFFF;
}

.objectsubpanel .buttons .button {
    background-clip: padding-box!important;
    /* border-color: ; */
    border-bottom: 1px solid #FFFFFF!important;
}

/* padding and space*/

.ui.selection.short.dropdown {
    min-width: 0px;
}

label.padded {
    padding: .67857143em 0em;
    display: inline-block;
}

.expanding {
    width: 100%;
}

.vertically-expanding {
    height: 100%;
}

.ui.compact.grid .row:not(:first-child), .ui.grid .compact.row:not(:first-child) {
    padding-top: 0;
}

.ui.compact.grid .row:not(:last-child), .ui.grid .compact.row:not(:last-child) {
    padding-bottom: 0;
}

.continued {
    padding-top: 0!important;
}

.continuing {
    padding-bottom: 0!important;
}

.ui.modal .ui.form .fields {
    margin-bottom: 0!important;
}

.less-padded {
    padding: 7px!important;
}

.column .ui.selection.dropdown {
    min-width: 0px;
    width: 100%;
}

.ui.grid [class*="right floated"].column:first-of-type {
    margin-left: 0px;
}

.vertically-padded {
    padding-top: 14px!important;
    padding-bottom: 14px!important;
}

.vertically-compact {
    padding-top: 0px!important;
    padding-bottom: 0px!important;
}

.ui.horizontal.statistics .statistic {
    margin: 0;
}

/* modal */

.ui.modal .content {
    max-height: 650px;
    overflow-y: auto;
}

/* floating */

.ui.right.floated {
    float: right;
}

.ui.left.floated {
    float: left;
}

.ui.middle.aligned {
    vertical-align: middle;
}

.opaque {
    opacity: 1!important;
}

.ui.menu .active.item {
    background-color: #e0e1e2;
    /* color: rgba(0, 0, 0, 0.6); */
}

.cell {
    border: 1px solid rgba(0, 0, 0, 0.15);
    width: 100px;
    height: 100px;
    position: absolute;
}

.break-word {
    word-break: break-word;
}

/* accordion */

.treemenu.boxed {
    /* background: #fff; */
    border-radius: 0.35rem;
    /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
    border-radius: 0.28571429rem;
    box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15), 0px 0px 0px 1px rgba(34, 36, 38, 0.15);
}

.treemenu.boxed .ui.styled.accordion>.title:not(:first-child) {
    border-top: 1px solid rgba(34, 36, 38, .15);
}

.ui.styled.accordion, .ui.styled.accordion .accordion {
    background: inherit;
    box-shadow: none;
    /* padding: 0; */
    margin-top: 0;
}

.ui.styled.accordion>.content {
    padding: 7px 7px 7px 7px;
}

.ui.styled.accordion .accordion .title, .ui.styled.accordion .accordion .accordion .title {
    border-top: none;
    /* margin-left: 0; */
    /* padding: 0.35em 0; */
    /* margin: 0; */
    padding-left: 0;
    padding-right: 0;
    color: rgba(0, 0, 0, 0.8);
}

.ui.styled.accordion .accordion .content, .ui.styled.accordion .accordion .accordion .content {
    /* margin-left: 1.75rem; */
    /* padding-left: 1em; */
    padding-left: 0;
    padding-right: 0;
}

.ui.styled.accordion .accordion .content .subtitle, .ui.styled.accordion .accordion .accordion .content .subtitle, .ui.styled.accordion .content .subtitle, .ui.styled.accordion .accordion .content .subtitle {
    /* margin: 0 1.75rem 0 0; */
    /* padding: 0.35em 0; */
    color: rgba(0, 0, 0, 0.5);
    /* font-size: 0.9rem; */
}

.ui.styled.accordion .accordion .content .subtitle.hide, .ui.styled.accordion .accordion .accordion .content .subtitle.hide, .ui.styled.accordion .content .subtitle.hide, .ui.styled.accordion .accordion .content .subtitle.hide {
    display: none;
}

.flipped {
    direction: rtl;
    transform: rotate(180deg);
}

.flipped .content {
    direction: ltr;
    transform: rotate(-180deg);
    display: inline-block;
}